$primary: #FF2B06;
// #E62B1E;
$primary-invert: findColorInvert($primary);
$tsukuba: #5B08B9;
$tsukuba-invert: findColorInvert($tsukuba);
$light: #F1F4F7;
// $dark: #5A5E70;
// $dark: #131313;
// $dark: #1c1c1c;
$black: hsl(0, 0%, 4%);
$dark: hsl(0, 0%, 21%);
$dark1: #0c0c0c;
$dark2: #1c1c1c;
// $dark1: #3f424e;
// $dark2: #757a92;
// $dark: #162f5a;
// $dark1: #102342;
// $dark2: #162f5a;
$red: #c6251a;
$red1: $primary;
$red2: #ff3123;
$light: hsl(0, 0%, 90%);

.has-text-primary {
  color: $primary !important;
}

#teaser > iframe {
  @media screen and (max-width: 768px) {
    width: 480px !important;
    height: 270px !important;
  }
  @media screen and (min-width: 769px) and (max-width: 1080px) {
    width: 640px !important;
    height: 360px !important;
  }
  @media screen and (min-width: 1081px) and (max-width: 1408px) {
    width: 960px;
    height: 540px !important;
  }
  @media screen and (min-width: 1409px) {
    width: 1280px !important;
    height: 720px !important;
  }
}
iframe {
  @media screen and (max-width: 480px) {
    height: 180px !important;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    height: 270px !important;
  }
  @media screen and (min-width: 769px) and (max-width: 1080px) {
    height: 180px !important;
  }
  @media screen and (min-width: 1081px) and (max-width: 1408px) {
    height: 270px !important;
  }
  @media screen and (min-width: 1409px) {
    height: 360px !important;
  }
}

section.section + section.section {
  padding-top: 0 !important;
}

div#notice > div.column {
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

// div.column + div.column {
//   padding-top: 0;
// }

// h1.title.is-2 {
//   font-weight: bold;
//   color: $primary;
//   letter-spacing: 6px;
//   margin-right: -6px;
// }
@media screen and (max-width: 768px) {
  h1.title.is-1 {
    font-size: 3rem !important;
  }
  h1.title.is-2 {
    font-size: 2rem !important;
  }
  h1.title.is-3 {
    font-size: 1.25rem !important;
  }
  h1.title.is-4 {
    font-size: 1rem !important;
  }
  .is-size-6, p, article, li {
    font-size: 0.75rem !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1080px) {
  h1.title.is-1 {
    font-size: 3rem !important;
  }
  h1.title.is-2 {
    font-size: 2rem !important;
  }
}
@media screen and (min-width: 1081px) and (max-width: 1408px) {
  h1.title.is-1 {
    font-size: 3.5rem !important;
  }
  h1.title.is-2 {
    font-size: 2.5rem !important;
  }
  .is-size-1 {
    font-size: 3.5rem !important;
  }
  .is-size-2 {
    font-size: 3rem !important;
  }
  .is-size-3 {
    font-size: 2.5rem !important;
  }
  .is-size-4 {
    font-size: 2rem !important;
  }
  .is-size-5 {
    font-size: 1.5rem !important;
  }
  .is-size-6, p, article {
    font-size: 1.25rem !important;
  }
  .is-size-7 {
    font-size: 1rem !important;
  }
}
@media screen and (min-width: 1409px) {
  h1.title.is-1 {
    font-size: 4.5rem !important;
  }
  h1.title.is-2 {
    font-size: 3rem !important;
  }
  .is-size-1 {
    font-size: 3.5rem !important;
  }
  .is-size-2 {
    font-size: 3rem !important;
  }
  .is-size-3 {
    font-size: 2.5rem !important;
  }
  .is-size-4 {
    font-size: 2rem !important;
  }
  .is-size-5 {
    font-size: 1.5rem !important;
  }
  .is-size-6, p, article {
    font-size: 1.25rem !important;
  }
  .is-size-7 {
    font-size: 1rem !important;
  }
}

h1.is-0 {
  color: #bcc5cd;
  // opacity: 0.5;
  @media screen and (max-width: 768px) {
    text-align: center;
    font-size: 3rem !important;
  }
  @media screen and (min-width: 769px) and (max-width: 1215px) {
    text-align: right;
    font-size: 6rem !important;
  }
  @media screen and (min-width: 1216px) and (max-width: 1408px) {
    text-align: right;
    font-size: 8rem !important;
  }
  @media screen and (min-width: 1409px) {
    text-align: right;
    font-size: 10rem !important;
  }
  margin-bottom: 0vh; 
  padding-bottom: 5vh;
  padding-top: 5vh;
}

section#wrapper {
  // background-color: $light;
  background-attachment: fixed !important;
  // background-color: #e7eff9;
  background-color: $light;
  // background-image: linear-gradient(to top, $light 0%, #d1dbe4 74%);
  font-feature-settings: "palt";
}
section#wrapper-dark {
  height: 100%;
  background-attachment: fixed !important;
  background-color: $black;
  // background-image: linear-gradient(to bottom, #111111 0%, #181818 74%);
  font-feature-settings: "palt";
  .notification {
    background-color: $dark;
    color: white;
  }
  h1 {
    color: $light;
  }
  p, article {
    color: $light;
  }
}
section#wrapper-red {
  @extend section#wrapper-dark;
  background-color: $primary;
}

section#wrapper-black {
  background-color: #000 !important;
}

.hero-body {
  margin: 0; padding: 0;
}


section.section {
  margin: 0vh 16vw !important;
  @media screen and (max-width: 639px) {
    margin: 0vh 0vw !important;
  }
  @media screen and (min-width: 640px) and (max-width: 1216px){
    margin: 0vh 4vw !important;
  }
}

section.section-narrow {
  margin: 0vh 20vw !important;
  padding: 3rem 1.5rem;
  @media screen and (max-width: 540px) {
    margin: 0vh 0vw !important;
  }
  @media screen and (min-width: 541px) and (max-width: 1216px){
    margin: 0vh 12vw !important;
  }
}


.card-content {
  @media screen and (min-width: 768px) {
    // padding: 3rem 3rem 3rem 3rem;
  }
}
.nmp-dark.columns.is-gapless {
  @media screen and (min-width: 1025px) {
    padding: 20px;
  }
}

.bg-red {
  background-color: $primary;
}

br.mobile-br {
  @media screen and (max-width: 540px) {
    display: block;
  }
  display: none;
}

.card {
  border-radius: 0px;
  background-color: $light;
  // box-shadow:  10px 10px 20px #cfcfd1,
  //              -10px -10px 20px #ffffff;
}

.nmp-card {
  padding: 2rem 2rem;
  margin: 0rem;
  border-radius: 18px;
  @media screen and (max-width: 1024px) {
    padding: 1.5rem 1.5rem;
    margin: 0.5rem 0rem;
  }
}
.nmp-card-light {
  @extend .nmp-card;
  color: $dark;
  background: white;
  // box-shadow:  10px 10px 20px #cfcfd1,
  //             -10px -10px 20px #ffffff;
}
.nmp-card-dark {
  @extend .nmp-card;
  color: white;
  background: $dark2;
  // box-shadow:  8px 8px 16px $dark1,
  //             -8px -8px 16px $dark2;
  h1 {
    color: white;
  }
}
.nmp-card-red {
  @extend .nmp-card;
  color: white;
  background: $primary;
  // border: 1px solid white;
  // box-shadow:  8px 8px 16px #a11e15,
  //              -8px -8px 16px #ff3123;
  h1 {
    color: white;
  }
}
// .card-image {
//   // @extend .nmp-card;
//   @media screen and (max-width: 1024px) {
//   border-radius: 20px;
//   // border-radius: 28px 28px 0 0;
//   }
//   @media screen and (min-width: 1025px) {
//     border-radius: 20px;
//   }
// }

.nmp {
  border-radius: 18px;
  margin-bottom: 4vh !important;
  @media screen and (max-width: 1024px) {
    border-radius: 18px;
    padding: 10px;
  }
}
.nmp-card-image {
  border: 5px solid $red;
  @media screen and (max-width: 768) {
    // border-radius: 10px;
  }
  // border-radius: 32px;
  border-radius: 50%;
}

.nmp-light {
  @extend .nmp;
  background: white;
  // box-shadow:  8px 8px 16px #cfcfd1,
  //              -8px -8px 16px #ffffff;
}
.nmp-dark {
  @extend .nmp;
  color: white;
  background: $dark2;
  // box-shadow:  8px 8px 16px $dark1,
  //              -8px -8px 16px $dark2;
  h1 {
    color: white;
  }
}

.nmp-red {
  @extend .nmp;
  color: white;
  background: $red2;
  box-shadow:  8px 8px 16px $dark1,
               -8px -8px 16px $dark2;
  h1 {
    color: white;
  }
}
.nmp-button-light {
  border-radius: 14px;
  border: 0px;
  background: $light;
  // box-shadow: inset 3px 3px 6px #cfd2d4,
  //             inset -3px -3px 6px #ffffff;
}
.nmp-card-red-light {
  @extend .nmp-card;
  color: white;
  background: $primary;
  // box-shadow:  8px 8px 16px #ff3123,
  //              -8px -8px 16px #ffffff;
}
.nmp-button-red {
  border-radius: 14px;
  background: $primary;
  // box-shadow: inset 5px 5px 10px #c6251a,
  //             inset -5px -5px 10px #ff3123;
}
.image-box {
  border-radius: 40px;
  padding: 8px;
  max-width: 320px;
  // box-shadow: inset 5px 5px 10px #cfd2d4,
  //             inset -5px -5px 10px #ffffff;
  @media screen and (max-width: 768px) {
    border-radius: 18px;
    width: 50vw;
    margin: 0 auto;
  }
}

.colorfilter-base-0 {
  background-color: $red;
}
.colorfilter-base-1 {
  background-color: $tsukuba;
}
.colorfilter-base-2 {
  background-color: black;
}
.colorfilter-image {
    opacity: 1;
    display: block;
}
// .side-cut {
//   position: relative;
// }
// .side-cut::before,
// .side-cut::after {
//   position: absolute;
//   transform: rotate(-35deg);
//   width: 30vw;
//   height: 20vw;
//   background-color: #fff;
//   z-index: 1;
//   content: ''
// }
// .side-cut::before {
//   top: -10px;
//   left: -25px;
// }
// .side-cut::after {
//   bottom: -10px;
//   right: -25px;
// }
.nmp-inset-dark {
  padding: 3rem 3rem;
  margin: 1rem;
  border-radius: 28px;
  margin-bottom: 4vh !important;
  background: $dark;
  // box-shadow: inset 8px 8px 16px $dark1,
  //             inset -8px -8px 16px $dark2;
}
.nmp-inset-light {
  padding: 3rem 3rem;
  margin: 1rem;
  border-radius: 28px;
  margin-bottom: 4vh !important;
  background: $light;
  // box-shadow: inset 8px 8px 16px #cfd2d4,
  //             inset -8px -8px 16px #ffffff;
}

.scrapboard {
  .is-child {
    padding: 1rem;
    background-color: #ffffff;
  }
}
.icon-circle {
  /* color: #0a265c */
  /* color: #002366; */
  color: $primary;
  border-radius: 100px;
  @media screen and (max-width: 768px) {
    font-size: 3rem;
    margin: 0.5rem;
  }
  font-size: 5rem;
  margin: 2rem;
}

.notice {
  background-color: $primary;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}

.fb {
  &:hover {
    color: #4267b2;
  }
}
.ig {
  &:hover {
    color: #dd2a7b;
  }
}
.tw {
  &:hover {
    color: #1da1f2;
  }
}

  .top-container {
    padding-top: 6vh !important;
  }

  .top-photoframe {
    a {
      margin: 0;
    }
    @media screen and (max-width: 768px) {
      padding: 5vh 15vw 0 15vw;
    }
    @media screen and (min-width: 769px) and (max-width: 1216px){
      padding: 5vh 30vw 0 30vw;
    }
    padding: 5vh 40vw 0 40vw;
  }
  .icon {
    padding-right: 10px;
  }

  .button {
    &.is-gradient {
      border: none;
      background-color: #990000 !important; 
      background-image: linear-gradient(147deg, #c32bac 0%, #ff0000 74%) !important;
      color: white;
      font-weight: bold;
      &:hover {
        color: white;
        background-color: #990000 !important;
        background-image: linear-gradient(147deg, #ff0000 0%, #c32bac 74%) !important;
      }
    }
    &.is-white {
      font-weight: bold !important;
    }
  }

  a {
    color: $tsukuba;
    &:hover {
      color: $red;
    }
  }

  article {
    line-height: 185%;   
  }

  span.em {
    font-weight: bold;
    color: white;
    border-bottom: 2px solid $primary;
  }

// @import '~bulma';
// @import '~buefy/src/scss/buefy';
