// @mixin true {
//   @font-face {
//     font-family: 'NotoSansCJKJP';
//     src: url('./font/NotoSansCJKjp-DemiLight.woff') format("woff");
//     font-weight: normal;
//   }

//   @font-face {
//     font-family: 'NotoSansCJKJP';
//     src: url('./font/NotoSansCJKjp-Bold.woff') format("woff");
//     font-weight: bold;
//   }
// }

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}

.page-enter,
.page-leave-active {
  opacity: 0.4;
}

body {
  font-family: 'Helvetica Neue', BlinkMacSystemFont, -apple-system, 'BIZ UDPGothic', 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "palt";
}

$primary: #FF2B06;
// #E62B1E;
$primary-invert: findColorInvert($primary);
$tsukuba: #5B08B9;
$tsukuba-invert: findColorInvert($tsukuba);
$light: #F1F4F7;
// $dark: #5A5E70;
// $dark: #131313;
// $dark: #1c1c1c;
$black: hsl(0, 0%, 4%);
$dark: hsl(0, 0%, 21%);
$dark1: #0c0c0c;
$dark2: #262626;
// $dark2: #454548;
$light-gradation: linear-gradient(165deg, rgba(223, 234, 247, 1) 11.2%, rgba(244, 248, 252, 1) 91.1%);
$dark-gradation: linear-gradient(165deg, rgb(158, 25, 25) 8.8%, rgb(41, 38, 38) 95.1%);
// $dark1: #3f424e;
// $dark2: #757a92;
// $dark: #162f5a;
// $dark1: #102342;
// $dark2: #162f5a;
$red: #c6251a;
$red1: $primary;
$red2: #ff3123;

$itf: #39b0b7;
$light: hsl(0, 0%, 90%);

$card-footer-border-top: 0px !important;


.has-text-primary {
  color: $primary !important;
}

.has-background-primary,
.bg-red {
  background-color: $red !important;
}

.has-background-tsukuba {
  background-color: $tsukuba !important;
}

.has-background-itf {
  background-color: #39b0b7 !important;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullheight-without-header {
  min-height: calc(100vh - 3.25rem);

  @media screen and (min-width: 1216px) {
    min-height: calc(100vh - 5.25rem);
  }
}

#teaser>iframe {
  @media screen and (max-width: 768px) {
    width: 480px;
    height: 270px;
  }

  @media screen and (min-width: 769px) and (max-width: 1080px) {
    width: 640px;
    height: 360px;
  }

  @media screen and (min-width: 1081px) and (max-width: 1408px) {
    width: 960px;
    height: 540px;
  }

  @media screen and (min-width: 1409px) {
    width: 1280px;
    height: 720px;
  }
}

iframe {
  @media screen and (max-width: 480px) {
    height: 180px;
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    height: 270px;
  }

  @media screen and (min-width: 769px) and (max-width: 1080px) {
    height: 180px;
  }

  @media screen and (min-width: 1081px) and (max-width: 1408px) {
    height: 270px;
  }

  @media screen and (min-width: 1409px) {
    height: 300px;
  }
}

// section.section+section.section {
//   padding-top: 5vh !important;
// }

div#notice>div.column {
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

section.is-large {
  @media screen and (max-width: 768px) {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}


.bg-jijimuge {
  background: url("~@/assets/wallpapers/gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // @media screen and (max-width: 480px) {
  //   background-size: cover;
  // }
}

// div.column + div.column {
//   padding-top: 0;
// }

// h1.title.is-2 {
//   font-weight: bold;
//   color: $primary;
//   letter-spacing: 6px;
//   margin-right: -6px;
// }

@media screen and (max-width: 768px) {
  h1.title.is-1 {
    font-size: 2.5rem !important;
  }

  h1.title.is-2 {
    font-size: 2rem !important;
  }

  h1.title.is-3 {
    font-size: 1.25rem !important;
  }

  h1.title.is-4 {
    font-size: 1rem !important;
  }

  .is-size-6,
  p,
  article,
  li,
  a {
    font-size: 0.75rem !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
  h1.title.is-1 {
    font-size: 3rem !important;
  }

  h1.title.is-2 {
    font-size: 2rem !important;
  }
}

@media screen and (min-width: 1081px) and (max-width: 1408px) {
  h1.title.is-1 {
    font-size: 3rem !important;
  }

  h1.title.is-2 {
    font-size: 2rem !important;
  }

  .is-size-1 {
    font-size: 3rem !important;
  }

  .is-size-2 {
    font-size: 2.5rem !important;
  }

  .is-size-3 {
    font-size: 2rem !important;
  }

  .is-size-4 {
    font-size: 1.5rem !important;
  }

  .is-size-5 {
    font-size: 1.25rem !important;
  }

  .is-size-6,
  p,
  article,
  li,
  a {
    font-size: 1rem !important;
  }

  .is-size-7 {
    font-size: 0.85rem !important;
  }
}

@media screen and (min-width: 1409px) {
  h1.title.is-1 {
    font-size: 3.5rem !important;
  }

  h1.title.is-2 {
    font-size: 3rem !important;
  }

  .is-size-1 {
    font-size: 3.5rem !important;
  }

  .is-size-2 {
    font-size: 3rem !important;
  }

  .is-size-3 {
    font-size: 2.5rem !important;
  }

  .is-size-4 {
    font-size: 2rem !important;
  }

  .is-size-5 {
    font-size: 1.5rem !important;
  }

  .is-size-6,
  p,
  article,
  li,
  a {
    font-size: 1.25rem !important;
  }

  .is-size-7 {
    font-size: 1rem !important;
  }
}

h1.is-0 {
  @media screen and (max-width: 768px) {
    text-align: center;
    font-size: 3.5rem !important;
  }

  @media screen and (min-width: 769px) and (max-width: 1215px) {
    text-align: right;
    font-size: 6rem !important;
  }

  @media screen and (min-width: 1216px) and (max-width: 1408px) {
    text-align: right;
    font-size: 6rem !important;
    letter-spacing: -5px;
  }

  @media screen and (min-width: 1409px) {
    text-align: right;
    font-size: 8rem !important;
    letter-spacing: -5px;
  }

  margin-bottom: 0vh;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

section#wrapper {
  // background-color: $light;
  background-attachment: fixed !important;
  // background-color: #e7eff9;
  background-color: $light;
  background: linear-gradient(70deg, $light 26%, #C9C6C6 74%);
  background: -webkit-linear-gradient(70deg, $light 26%, #C9C6C6 74%);
  background: -moz-linear-gradient(70deg, $light 26%, #C9C6C6 74%);
  background: -ms-linear-gradient(70deg, $light 26%, #C9C6C6 74%);
  // background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  // background-image: linear-gradient(to bottom, #111111 0%, #181818 74%);
  // background-image: linear-gradient(to top, $light 0%, #d1dbe4 74%);
}

section#wrapper-dark {
  height: 100%;
  background-attachment: fixed !important;
  background-color: hsl(0, 0, 12%);
  // background: linear-gradient(165deg, hsl(0, 0, 22%) 0, hsl(0, 0, 4%) 100%);
    background-repeat: no-repeat;
  background-clip: cover;
  background-attachment: fixed;

  .notification {
    background-color: $dark;
    color: white;
  }

  .title {
    color: $light;
  }

  p,
  article {
    color: lightgray;
  }
}

section#wrapper-red {
  @extend section#wrapper-dark;
  background-color: $primary;
}

section#wrapper-black {
  background-color: #000 !important;
}

.hero-body {
  margin: 0;
  padding: 0;
}


section.section {
  margin: 0vh 16vw !important;

  @media screen and (max-width: 639px) {
    margin: 0vh 0vw !important;
    padding: 1.5rem !important;
  }

  @media screen and (min-width: 640px) and (max-width: 1216px) {
    margin: 0vh 4vw !important;
  }

  @media screen and (min-width: 1217px) and (max-width: 1409px) {
    margin: 0vh 8vw !important;
  }
}

section.section-narrow {
  margin: 0vh 20vw !important;
  padding: 3rem 1.5rem;

  @media screen and (max-width: 540px) {
    margin: 0vh 0vw !important;
  }

  @media screen and (min-width: 541px) and (max-width: 1216px) {
    margin: 0vh 12vw !important;
  }
}

section.section-wide {
  margin: 0vh 8vw !important;

  @media screen and (max-width: 639px) {
    margin: 0vh 0vw !important;
    padding: 1.5rem !important;
  }

  @media screen and (min-width: 640px) and (max-width: 1216px) {
    margin: 0vh 2vw !important;
  }

  @media screen and (min-width: 1217px) and (max-width: 1409px) {
    margin: 0vh 4vw !important;
  }
}


.card-content {
  @media screen and (min-width: 768px) {
    // padding: 3rem 3rem 3rem 3rem;
  }
}

.nmp-dark.columns.is-gapless {
  @media screen and (min-width: 1025px) {
    padding: 20px;
  }
}

br.mobile-br {
  @media screen and (max-width: 540px) {
    display: block;
  }

  display: none;
}

.nmp-card {
  padding: 1.5rem 2rem;
  margin: 0rem;
  border-radius: 12px;

  @media screen and (max-width: 1024px) {
    padding: 1.5rem 1.5rem;
    margin: 0.5rem 0rem;
  }
}

.nmp-card-light {
  @extend .nmp-card;
  color: $dark;
  background: $light-gradation;

  p {
    color: $dark;
  }

  // box-shadow:  10px 10px 20px #cfcfd1,
  //             -10px -10px 20px #ffffff;
}

.nmp-card-dark {
  @extend .nmp-card;
  color: white;
  background: $dark2;
  filter: drop-shadow(0px 8px 18px rgba(0, 0, 0, 0.6));

  // box-shadow:  8px 8px 16px $dark1,
  //             -8px -8px 16px $dark2;
  h1,
  p {
    color: white;
  }
}

.nmp-card-red {
  @extend .nmp-card;
  color: white;
  background: $red;

  // border: 1px solid white;
  // box-shadow:  8px 8px 16px #a11e15,
  //              -8px -8px 16px #ff3123;
  h1 {
    color: white;
  }
}

// .card-image {
//   // @extend .nmp-card;
//   @media screen and (max-width: 1024px) {
//   border-radius: 20px;
//   // border-radius: 28px 28px 0 0;
//   }
//   @media screen and (min-width: 1025px) {
//     border-radius: 20px;
//   }
// }

.nmp {
  border-radius: 12px;
  margin-bottom: 4vh !important;

  @media screen and (max-width: 1024px) {
    border-radius: 18px;
    // padding: 10px;
  }
}

.nmp-card-image {
  border: 5px solid $red;
  filter: drop-shadow(0px 8px 18px rgba(0, 0, 0, 0.6));

  @media screen and (max-width: 768) {
    // border-radius: 10px;
  }

  // border-radius: 32px;
  border-radius: 50%;
}

.nmp-light {
  @extend .nmp;
  background: $light-gradation;
  filter: drop-shadow(0px 8px 18px rgba(0, 0, 0, 0.6));
  // box-shadow:  8px 8px 16px #cfcfd1,
  //              -8px -8px 16px #ffffff;
}

.nmp-dark {
  @extend .nmp;
  color: white;
  background: $dark2;
  filter: drop-shadow(0px 8px 18px rgba(0, 0, 0, 0.6));

  // box-shadow:  8px 8px 16px $dark1,
  //              -8px -8px 16px $dark2;
  h1 {
    color: white;
  }
}

.nmp-red {
  @extend .nmp;
  color: white;
  background: $red;
  box-shadow: 8px 8px 16px $dark1,
    -8px -8px 16px $dark2;

  h1 {
    color: white;
  }
}

.nmp-button-light {
  border-radius: 14px;
  border: 0px;
  background: $light;
  filter: drop-shadow(0px 8px 18px rgba(0, 0, 0, 0.6));
  // box-shadow: inset 3px 3px 6px #cfd2d4,
  //             inset -3px -3px 6px #ffffff;
}

.nmp-card-red-light {
  @extend .nmp-card;
  color: white;
  background: $primary;
  // box-shadow:  8px 8px 16px #ff3123,
  //              -8px -8px 16px #ffffff;
}

.nmp-button-red {
  border-radius: 14px;
  background: $primary;
  // box-shadow: inset 5px 5px 10px #c6251a,
  //             inset -5px -5px 10px #ff3123;
}

.image-box {
  border-radius: 40px;
  padding: 8px;
  max-width: 320px;

  // box-shadow: inset 5px 5px 10px #cfd2d4,
  //             inset -5px -5px 10px #ffffff;
  @media screen and (max-width: 768px) {
    border-radius: 18px;
    width: 50vw;
    margin: 0 auto;
  }
}

.colorfilter-base-0 {
  background-color: $red;
}

.colorfilter-base-1 {
  background-color: white;
}

.colorfilter-base-2 {
  background-color: black;
}

.colorfilter-image {
  opacity: 1;
  display: block;
}

// .side-cut {
//   position: relative;
// }
// .side-cut::before,
// .side-cut::after {
//   position: absolute;
//   transform: rotate(-35deg);
//   width: 30vw;
//   height: 20vw;
//   background-color: #fff;
//   z-index: 1;
//   content: ''
// }
// .side-cut::before {
//   top: -10px;
//   left: -25px;
// }
// .side-cut::after {
//   bottom: -10px;
//   right: -25px;
// }
.nmp-inset-dark {
  padding: 3rem 3rem;
  margin: 1rem;
  border-radius: 28px;
  margin-bottom: 4vh !important;
  background: $dark;
  // box-shadow: inset 8px 8px 16px $dark1,
  //             inset -8px -8px 16px $dark2;
}

.nmp-inset-light {
  padding: 3rem 3rem;
  margin: 1rem;
  border-radius: 28px;
  margin-bottom: 4vh !important;
  background: $light;
  // box-shadow: inset 8px 8px 16px #cfd2d4,
  //             inset -8px -8px 16px #ffffff;
}

.scrapboard {
  .is-child {
    padding: 1rem;
    background-color: #ffffff;
  }
}

.icon-circle {
  /* color: #0a265c */
  /* color: #002366; */
  color: $primary;
  border-radius: 100px;

  @media screen and (max-width: 768px) {
    // font-size: 5rem;
    margin: 0.5rem;
  }

  // font-size: 5rem;
  margin: 1rem;
}

.notice {
  background-color: $primary;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}

.fb {
  &:hover {
    color: #4267b2;
  }
}

.ig {
  &:hover {
    color: #dd2a7b;
  }
}

.tw {
  &:hover {
    color: #1da1f2;
  }
}

.top-container {
  padding-top: 6vh !important;
}

.top-photoframe {
  a {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    padding-top: 6vh;
  }

  @media screen and (min-width: 769px) and (max-width: 1216px) {
    padding-top: 6vh;
  }

  padding-top: 10vh;
}

// .icon {
//   padding-left: 10px;
// }

.button {
  &.is-gradient {
    border: none;
    background-color: #990000 !important;
    background-image: linear-gradient(147deg, #c32bac 0%, #ff0000 74%) !important;
    color: white;
    font-weight: bold;

    &:hover {
      color: white;
      background-color: #990000 !important;
      background-image: linear-gradient(147deg, #ff0000 0%, #c32bac 74%) !important;
    }
  }

  &.is-white {
    font-weight: bold !important;
  }
}

a.text {
  color: orange;
  text-decoration: underline;

  &:hover {
    color: $red;
  }
}

article {
  line-height: 185%;
}

span.em {
  font-weight: bold;
  color: white;
  border-bottom: 2px solid $primary;
}

span.is-red {
  background-color: $primary;
  color: white;
}

.slideshow {
  display: flex;
}

.slideshow-content {
  width: 10vw;
  height: 10vw;

  @media screen and (max-width: 768px) {
    width: 20vw;
    height: 20vw;
  }
}

// .slideshow-content:nth-child(1) {
//   background-color: tomato;
// }

// .slideshow-content:nth-child(2) {
//   background-color: orange;
// }

// .slideshow-content:nth-child(3) {
//   background-color: blue;
// }

// .slideshow-content:nth-child(4) {
//   background-color: green;
// }

.slideshow-wrap {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
  height: auto;

  @media screen and (max-width: 768px) {
    height: auto;
  }
}

/* content4つをまとめたスライドブロック */
.slideshow {
  display: flex;
  -webkit-animation: loop-slide 40s linear 1s both;
  animation: loop-slide 40s linear 1s both;
  animation-fill-mode: forwards;

  @media screen and (max-width: 768px) {
    -webkit-animation: loop-slide 40s linear 1s both;
    animation: loop-slide 40s linear 1s both;
  }
}

@-webkit-keyframes loop-slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// @import '~bulma';
// @import '~buefy/src/scss/buefy';